body{
  background:#e8f5e9;
  margin:0;
  padding:20px;
}

.container{
  max-width:900px;
  margin:auto;
  background:white;
  padding:20px;
  border-radius:10px;
}

input,select,textarea{
  width:100%;
  margin:5px 0;
  padding:8px;
}

.plato{
  border:1px solid #ccc;
  padding:10px;
  margin:5px 0;
}

button{
  padding:10px;
  margin-top:10px;
  cursor:pointer;
}

.pedido{
  background:#f1f8e9;
  padding:10px;
  margin:10px 0;
  border-radius:8px;
}
